<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Calculador de Eventos
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-left (click)="save()">
        <ion-icon name="cloud-upload"></ion-icon>
        Guardar
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-slides>

    <!-- Event Slide -->
    <ion-slide>
      <ion-card padding>
        <ion-card-header ion-text color="primary">Evento</ion-card-header>
        <ion-list>
          <ion-item>
            <ion-label inline>
              <!-- <ion-icon name="locate" item-left></ion-icon> -->
              Zona
            </ion-label>
            <ion-select [(ngModel)]="event.zone">
              <ion-option value="centro">Centro</ion-option>
              <ion-option value="oriente">Oriente</ion-option>
              <ion-option value="occidente">Occidente</ion-option>
              <ion-option value="costa">Costa</ion-option>
              <ion-option value="antioquia">Antioquia</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label inline>
              <!-- <ion-icon name="card" item-left></ion-icon> -->
              Nombre
            </ion-label>
            <ion-input class="input-text" [(ngModel)]="event.name"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label inline>
              <!-- <ion-icon name="calendar" item-left></ion-icon> -->
              Fecha
            </ion-label>
            <ion-datetime (ionChange)="changeEnd()" displayFormat="DD MMM YYYY hh mm A" pickerFormat="DD MMM YYYY hh mm A" [(ngModel)]="event.start"></ion-datetime>
          </ion-item>

          <ion-item>
            <ion-label inline>
              <!-- <ion-icon name="calendar" item-left></ion-icon> -->
              Fin
            </ion-label>
            <ion-datetime displayFormat="DD MMM YYYY hh mm A" pickerFormat="DD MMM YYYY hh mm A" [(ngModel)]="event.end"></ion-datetime>
          </ion-item>
        </ion-list>
      </ion-card>
    </ion-slide>


    <!-- Products Slide -->
    <ion-slide>
      <ion-grid>
        <ion-row wrap>
          <ion-col col-12 col-sm *ngFor="let product of event.products">
            <ion-card>
              <img [src]="product.image" style="margin:0 auto; height: 150px;">
              <ion-card-header>
                <h3 ion-text color="primary">{{product.name}}</h3>
                <ion-note>MACO/HL:({{ product.maco }})</ion-note>
                <br>
                <ion-note>Cajas</ion-note>
              </ion-card-header>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <button ion-button icon-only clear round (click)="product.quantity=product.quantity-1">
                      <ion-icon name="remove-circle"></ion-icon>
                    </button>
                  </ion-col>
                  <ion-col>
                    <ion-input text-center [(ngModel)]="product.quantity" min="0" type="number"></ion-input>
                  </ion-col>
                  <ion-col>
                    <button ion-button icon-only clear round (click)="product.quantity=product.quantity+1">
                      <ion-icon name="add-circle"></ion-icon>
                    </button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card>
            <ion-card>
              <ion-item>
                <ion-label floating> Venta Anterior</ion-label>
                <ion-input type="number" [(ngModel)]="product.ventAnt"></ion-input>
              </ion-item>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-slide>

    <!-- Kits Slide -->
    <ion-slide>
      <ion-card>
        <ion-list>
          <ion-item *ngFor="let kit of event.kits">
            <ion-thumbnail item-left>
              <img [src]="kit.image" alt="">
            </ion-thumbnail>
            <h3>{{kit.name}}</h3>
            <ion-note>{{kit.price | currency}}</ion-note>
            <div item-right>
              <button ion-button icon-only clear round (click)="kit.quantity=kit.quantity-1">
                <ion-icon name="remove-circle"></ion-icon>
              </button>
              <input class="number-input" type="number" [(ngModel)]="kit.quantity" />
              <button ion-button icon-only clear round (click)="kit.quantity=kit.quantity+1">
                <ion-icon name="add-circle"></ion-icon>
              </button>
            </div>
          </ion-item>
        </ion-list>
      </ion-card>
    </ion-slide>

  </ion-slides>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col text-left>
          <button ion-button clear icon-left [disabled]="index == 0" (click)="previous()">
            <ion-icon name="arrow-dropleft"></ion-icon>
            <!-- <span>
              Anterior
            </span> -->
          </button>
        </ion-col>
        <ion-col text-center>
          <span ion-text color="danger">
            <b>
              Inversion:
            </b>
            {{inversion() | currency}}
          </span>
          <br>
          <span ion-text color="danger">
            <b>
              incremental:
            </b>
            {{incremental()}} (HL)
          </span>
          <br>
          <h5 ion-text color="primary">
            ROI {{ roi() | number }} %
          </h5>
        </ion-col>
        <ion-col text-right>
          <button ion-button clear icon-right [disabled]="index == 4" (click)="next()">
            <!-- <span>
              Siguiente
            </span> -->
            <ion-icon name="arrow-dropright"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
